body{
    background-color: #f0f0f0;
}
body {
  background: #f8f9fa;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: #fff;
}

.card {
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.skeleton {
  height: 150px;
  background: linear-gradient(90deg,#ddd,#eee,#ddd);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% { background-position: 0% }
  100% { background-position: 100% }
}
body.dark {
  background: #121212;
  color: #e0e0e0;
}